<a href="https://colab.research.google.com/github/jongwoo108/AIFFEL_Online_2nd/blob/main/Python_DataType_list_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초

파이썬 이스터에그

In [14]:
import this

---

파이썬 자료형

In [6]:
123  #숫자

123

In [7]:
1+2+3+4+5  #수식

15

In [8]:
'Hello World'  #문자열

'Hello World'

In [9]:
print('Hello, World!')   #문장

Hello, World!

---

프로그램

In [12]:
overlap = [[1, 2], 3, [[4, 5, 6], 7], 8, 9]

In [13]:
for element in overlap:
    print(element)

[1, 2]
3
[[4, 5, 6], 7]
8
9

식별자

1. 예약어(키워드)는 사용하면안된다.
2. 특수문자는 언더바(_)만 허용
3. 숫자로 시작하면 안된다.
4. 공백을 포함할 수 없다. \
위 규칙에 맞는 단어는 식별자로 사용할 수 있다.\
예약어(키워드)는 말 그대로 파이썬에서 이미 예약된 내용이 있는 키워드이다.

스네이크와 캐멀

In [29]:
# 스네이크 케이스
# 단어 사이에 언더 바(_) 기호를 쓰는 방법입니다.
# time_list, login_status, rotate_table

In [17]:
# 캐멀 케이스
# 단어들의 첫 글자를 대문자로 쓰는 방법입니다.
# TimeList, LoginStatus, RotateTable

In [22]:
#여러개 출력하기
print('출력1, 출력2, ...')

출력1, 출력2, ...

In [23]:
#여러개 출력하기
print('안녕', 111 ,'123')

안녕 111 123

In [24]:
#비어있는 print()
print()

In [25]:
print('-'*25)
print()
print()
print('-'*25)

-------------------------


-------------------------

---

리스트 자료형

리스트(list)
* 개별 변수는 정수면 정수, 실수면 실수 식으로 하나의 값만 저장하는 데 비해 리스트는 여러 개의 값을 순서가 있는 모음으로 저장.
* 대괄호[] 안에 요소를 콤마,로 구분해준다.
* 리스트에 소속되는 각각의 값을 요소(element)라고한다.
* 리스트 안에는 어떠한 자료형도 포함시킬 수 있다.
* 비어있는 리스트도 생성할 수 있다.

In [26]:
# 리스트 안에는 어떠한 자료형도 포함시킬 수 있다.
a = [1, 2, 3]
b = ['AIFFEL', '화이팅']
c = [1, 2, 'AIFFEL', '화이팅']
d = [1, 2, ['AIFFEL', '화이팅']]

In [27]:
# 비어 있는 리스트로 생성할 수 있다.
e = []

In [28]:
# list() 함수를 사용해서 빈 리스트를 만들 수 있다.
f = list()
f

[]

---

리스트의 인덱싱 & 슬라이싱

* 문자열 때 배웠떤 인덱싱 & 슬라이싱이 리스트에서도 가능
* 문자열 인덱싱 & 슬라이싱과 동일한 방버으로 다룰 수 있다.
* 리스트 안에 element인 리스트도 인덱싱할 수 있다.

In [30]:
# 문자열과 동일하게 인덱싱
a = [1, 2, 3, 4, 5]
a[4]

5

In [31]:
a[-1]

5

In [32]:
#리스트 안에 element인 리스트도 인덱싱 할 수 있다.
a = [1, 2, ['AIFFEL', '화이팅'], 3, 4]
a[2]

['AIFFEL', '화이팅']

In [33]:
#'AIFFEL'만 인덱싱 할 수 있다.
a[2][0]

'AIFFEL'

In [34]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list1 + list2

[1, 2, 3, 'a', 'b', 'c']

In [35]:
list2 * 2

['a', 'b', 'c', 'a', 'b', 'c']

In [36]:
list1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [37]:
len(list2 * 2)

6

리스트의 수정 & 삭제(del)

리스트의 요소는 수정(교체)할 수 있다.

* 리스트[인덱스] = 새 요소\
예약어 del을 이용해서 리스트 요소를 삭제할 수 있다.

* del 객체\
예약어란?

* 특정 기능을 수행하도록 미리 예약되어 있는 단어
* 함수와 다르다

In [38]:
# 리스트의 요소는 수정(교체)할 수 있다.
a = ['a', 'b', 7, 'd']
a[2] = 'c'
a

['a', 'b', 'c', 'd']

In [39]:
# 예약어 del을 이용해서 리스트 요소를 삭제할 수 있다.
a = ['a', 'b', 7, 'd']
del a[2]
a

['a', 'b', 'd']

In [43]:
# 아래 변수 a와 슬라이싱을 활용하여 b, c, d를 만들기
a = [1, 2, 3, 4, 5]

In [44]:
# 변수 b에 리스트 [1, 2, 3]를 담는다.
b = a[:3]
b

[1, 2, 3]

In [46]:
# 변수 c에 리스트 [3, 4]를 담는다.
c = a[2:4]
c

[3, 4]

In [48]:
# 변수 d에 리스트 [3, 4, 5]를 담는다.
d = a[-3:]
d

[3, 4, 5]

In [49]:
print(b)
print(c)
print(d)

[1, 2, 3]
[3, 4]
[3, 4, 5]

리스트 관련 함수들

추가(append(x))\
정렬(sort())\
뒤집기(reverse())\
위치 반환(index(x))\
요소 삽입(insert(a, b))\
요소 제거(remove(x))\
요소 끄집어내기(pop())\
특정 개수 세기(count(x))\
리스트 확장(extent(x))

In [53]:
# 추가(append(x))
# 리스트 맨 마지막에 x를 추가하는 함수
a = [1, 3, 5]
a.append(7)
a

[1, 3, 5, 7]

In [54]:
# 요소는 모든 자료형이 가능
a.append([2, 4, 6, 8, 10])
a

[1, 3, 5, 7, [2, 4, 6, 8, 10]]

In [55]:
# 여러 요소를 넣으면 에러가뜬다.
a.append(9, 11)

TypeError: ignored

In [56]:
a

[1, 3, 5, 7, [2, 4, 6, 8, 10]]

정렬(sort())

In [59]:
# sort 함수는 괄호 안에 아무것도 넣지 않는다.
a = [5, 2, 3, 4, 1]
a.sort()
a

[1, 2, 3, 4, 5]

뒤집기(reverse())

In [63]:
# reverse 함수는 괄호 안에 아무것도 넣지 않는다.
a = ['h', 'e', 'l', 'l', 'o']
a.reverse()
a

['o', 'l', 'l', 'e', 'h']

위치 반환(index(x))

In [64]:
# index(x) 함수는 리스트에 x가 있으면 x의 위치 값을 돌려준다.
a = ['h', 'e', 'l', 'l', 'o']
a.index('e')

1

In [65]:
# 중복인 요소가 있을 때 확인해보기
a = ['h', 'e', 'l', 'l', 'o']
a.index('l')

2

In [66]:
# 없는 요소를 x에 있을 때 확인해보기

a = ['h', 'e', 'l', 'l', 'o']
a.index('b')

ValueError: ignored

요소 삽입(insert(a, b))

In [67]:
#insert(a, b)는 a번째 위치에 b요소를 삽입한다.
#위치 인덱스는 0부터 센다는 것을 잊지 말자.
a = [1, 3, 5, 7, 9]
a.insert(5, 11)
a

[1, 3, 5, 7, 9, 11]

요소 제거(remove(x))

In [68]:
# remove(x)는 요소 x를 삭제한다.
a = ['e', 'x', 't', 'e', 'n', 'd']
a.remove('x')
a

['e', 't', 'e', 'n', 'd']

In [69]:
# 중복인 요소가 있을 때 확인하기
a = ['e', 'x', 't', 'e', 'n', 'd']
a.remove('e')
a

['x', 't', 'e', 'n', 'd']

요소 끄집어내기(pop())

In [70]:
#pop()은 리스트 맨 마지막 요소를 반환하고 그 요소는 삭제한다.
a = [1, 2, 3]
a.pop()

3

In [71]:
#pop() 함수 이후에 제거 되었는지 확인
a

[1, 2]

In [72]:
a.pop()

2

In [73]:
a

[1]

In [74]:
a = ['h', 'e', 'l', 'l', 'o']
a.count('l')

2

In [75]:
# extent(x)에서 리스트 x를 기존 리스트에 연결한다.
# x는 리스트만 올 수 있다.

a = [1, 2, 3]
a.extend([4, 5, 6])
a

[1, 2, 3, 4, 5, 6]

In [77]:
#a.extend(b) 는 a += b와 동일하다.

In [78]:
a = [1, 2, 3]
b = [4, 5, 6]
a += b
a

[1, 2, 3, 4, 5, 6]

#튜플 자료형

튜플이란?
* 여러 개의 값이 모음이라는 점에서 리스트와 비슷하지만 수정할 수 없다는 점에서 다르다.
* 소괄호()안에 요소를 콤마,로 구분.\
튜플명 = (요소1, 요소2, 요소3,...)
* 소괄호()를 생략해도 무방하다.
튜플명 = 요소1, 요소2, 요소3, ...
* 튜플에 소속되는 각각의 값 또한 요소(element)라고 한다.
* 튜플 안에는 어떠한 자료형도 포함시킬 수 있다.
* 비어 있는 튜퓰도 생성할 수 있다.

튜플에서 가능한 것과 불가능한 것

가능한 것
* 튜플 요소를 인덱싱 & 슬라이싱 할 수 있다.
* +연산자로 튜플을 연결할 수 있다.
* (*) 연산자로 튜플을 반복할 수 있다.

In [82]:
# 튜플 요소를 인덱싱 & 슬라이싱 할 수 있다.
tu1 = 1, 2, 3, 4, 5
tu1[0]

1

In [85]:
tu1[:3]

(1, 2, 3)

In [86]:
tu2 = 6, 7, 8, 9

In [87]:
tu1+tu2

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [88]:
# * 연산자로 튜플 반복 가능
tu1 = 1, 2, 3, 4, 5
tu1 * 2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

불가능한 것
* 튜플 요소를 변경하거나 삭제하는 것은 불가능하다

In [89]:
# 튜플 요소는 변경이 불가능하다.

tu1 = (2, 4, 6)
tu1[0] = 1

TypeError: ignored

In [90]:
# 튜플 요소는 삭제가 불가능하다.

tu1 = [2, 4, 6]
del du1[0]

NameError: ignored

튜플을 사용하는 이유

* 튜플의 내부 구조가 단순한 만큼 더 적은 메모리를 사용, 읽는 속도가 빠르다.
* 편집할 수 없기 때문에 안정적이다.