In [ ]:
num = 1
while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 등차수열의 합
num = 1
sum = 0
while sum <= 1:
    sum += num
    num += 1
print(sum)

3

In [ ]:
num = 1             #num에 1을 할당
sum = 0             #sum에 0을 할당
while num <= 10:    #num이 10보다 작을 동안
    sum += num      #sum은 기존 sum과 num을 더한 것이 되고,
    num += 1        #num은 기존 num에 1을 더한 것이 된다.
print(sum)          #while문 끝나면 sum 값을 출력

55

In [ ]:
# 꽈배기 품절일 때
korean_pretzel = 10
while korean_pretzel:
    print('꽈배기', korean_pretzel, '개 있습니다.')
    order = int(input('주문 개수 : '))
    korean_pretzel -= order
    print('남은 꽈배기는 ', korean_pretzel, '개 입니다.')
    print('*'*25)
    if korean_pretzel <= 0:
        print('꽈배기 품절입니다.')
        break

꽈배기 10 개 있습니다.
주문 개수 : 50
남은 꽈배기는  -40 개 입니다.
*************************
꽈배기 품절입니다.

In [ ]:
# break
a = 0
while a < 10:
    a += 1
    if a % 2 == 0:
        break
    print(a)

1

In [ ]:
# continue
a = 0
while a < 10:
    a += 1
    if a % 2 == 0:
        continue
    print(a)

1
3
5
7
9

In [ ]:
# break
a = 0                  # a는 0
while a < 10:          # a가 10보다 작을 동안
    a += 1             # a에 a+1의 값을 할당하고
    if a % 2 == 0:     # 만약 a를 2로 나눈 나머지가 0과 동일하면
        break          # 루프를 깨버리고 나온다.
    print(a)           # (if문 블럭 밖이므로) a를 출력한다.

1

In [ ]:
# continue
a = 0                  # a는 0
while a < 10:          # a가 10보다 작을 동안
    a += 1             # a에 a+1의 값을 할당하고
    if a % 2 == 0:     # 만약 a를 2로 나눈 나머지가 0과 동일하면
        continue       # 넘어가고 루프 선두로 돌아가서 계속 루프를 탄다.
    print(a)           # (if문 블럭 밖이므로) a를 출력한다.

1
3
5
7
9

In [ ]:
# 리스트로 반복문 만들기
a = [1, 2, 3]
for i in a:
    print(i, '번 출력')

1 번 출력
2 번 출력
3 번 출력

In [ ]:
# 문자열로 반복문 만들기
a = 'aiffel'
for i in a:
    print(i)

a
i
f
f
e
l

In [ ]:
# 다양한 for문 활용
a = [('apple', '사과'), ('banana', '바나나'), ('melon', '멜론')]
for (en, ko) in a:
    print(en, '는(은) 한국어로', ko, '입니다.')

apple 는(은) 한국어로 사과 입니다.
banana 는(은) 한국어로 바나나 입니다.
melon 는(은) 한국어로 멜론 입니다.

In [1]:
# for 문과 continue
a = [('은정', 98), ('경애', 59), ('초희', 72), ('선영', 80), ('영미', 50)]
for (name, score) in a:
    if score < 60:                          #score가 60미만이면
        continue                            #이번 루프는 넘기고 처음으로 돌아간다.
    print(name, '님 합격을 축하합니다.')    #아니면 해당 내용을 출력.

은정 님 합격을 축하합니다.
초희 님 합격을 축하합니다.
선영 님 합격을 축하합니다.

for문 + range 함수\
for문은 range함수와 자주 쓰인다.\
range(시작 값, 끝 값+1, 증가 값)의 형태로 사용\
시작 값, 증가값은 생략 가능, 그 값은 자동으로 0, 1

In [2]:
for i in range(0, 6, 2):
    print(i)

0
2
4

In [3]:
for i in range(0, 6, 1):
    print(i)

0
1
2
3
4
5

In [4]:
# 증가 값 생략
for i in range(6):
    print(i)

0
1
2
3
4
5

In [6]:
# 음수인 증가값과 함께 쓰면 역순으로도 가능
for i in range(6, 0, -1):
    print(i)

6
5
4
3
2
1

In [7]:
# 0까지 출력하고 싶다면 '0-1'값을 넣어주면 된다.
for i in range(6, -1, -2):
    print(i)

6
4
2
0

In [8]:
for i in range(6, -1, -1):
    print(i)

6
5
4
3
2
1
0