딕셔너리 자료형

* 딕셔너리 자료형 이해 및 활용
* 집합 자료형 이해 특징 설명
* 불 자료형 연산
* 변수 활용

* 딕셔너리는 키와 값의 쌍을 저장하는 대용량 자료구조
* 리스트나 튜플처럼 순차적으로(=인덱스로) 요소를 꺼낼 수 없고 Key를 통해 Value를 얻는다.
* 순차적으로 꺼내지 못하니 요소들의 순서는 의미가 없다.
* 중괄호{} 안에 Key:Value 형태를 넣고 콤마,로 구분. 딕셔너리명 = {Key1:Value1, Key2:Value2, Key3:Value3, ...}
* 키(Key)는 중복되면 안 되고, 값(Value)은 중복되어도 상관 없다.

In [1]:
# 중괄호{} 안에 Key:Value 형태를 넣고 콤마,로 구분
# 순서가 달라져도 동일한 딕셔너리다.
dic = {'apple': '사과', 'orange':'오렌지', 'melon':'멜론', 'num':8}
dic

{'apple': '사과', 'orange': '오렌지', 'melon': '멜론', 'num': 8}

In [3]:
# 키(Key)는 중복되면 안되고, 값(Value)은 중복되어도 상관 없다.
# 중복되는 키가 있을 때 확인해보기
dic = {'apple': '사과', 'orange':'오렌지', 'melon':'멜론', 'num':8, 'apple':'꿀사과', 'num_2':8}
dic

{'apple': '꿀사과', 'orange': '오렌지', 'melon': '멜론', 'num': 8, 'num_2': 8}

딕셔너리 쌍 추가, 삭제, 수정

In [5]:
# 새로운 키에 값을 할당하면 딕셔너리 쌍이 추가된다.
a = {1:10, 2:20}
a[3] = 30
a

{1: 10, 2: 20, 3: 30}

In [6]:
# value에 리스트도 할당할 수 있다.
a['list'] = [10, 20, 30]
a

{1: 10, 2: 20, 3: 30, 'list': [10, 20, 30]}

In [7]:
# 예약어 del을 활용해서 요소를 삭제할 수 있다.
del a[1]
a

{2: 20, 3: 30, 'list': [10, 20, 30]}

In [8]:
# 변경하고 싶은 key에 새로운 값을 할당하면 된다.
a = {2:20, 3:30, 'list':[10, 20, 30]}
a['list'] = [100, 200, 300]
a

{2: 20, 3: 30, 'list': [100, 200, 300]}

딕셔너리를 사용하는 방법

딕셔너리에서 key를 사용해서 value를 얻을 수 있다.

In [9]:
dog = {'name':'규봉이', 'breed':'진돗개', 'color':'brown'}
dog['name']

'규봉이'

In [10]:
dog['breed']

'진돗개'

In [11]:
dog['color']

'brown'

In [12]:
# 리스트, 튜플처럼 인덱싱 방법을 적용할 수 없.
dog[1]

KeyError: ignored

* key() : Key 리스트 만들기
* values() : Value 리스트 만들기
* items() : Key:Value 쌍 얻기
* clear() : Key:Value 상 모두 지우기
* get() : Key로 Value얻기
* in : 해당 Key가 딕셔너리 안에 있는지 조사하기

In [13]:
# keys()
dog = {"name":"규봉이", 'breed':'진돗개', 'color':'brown'}
dog.keys()

dict_keys(['name', 'breed', 'color'])

In [14]:
# values()
dog = {'name': '규봉이', 'breed':'진돗개', 'color':'brown'}
dog.values()

dict_values(['규봉이', '진돗개', 'brown'])

In [15]:
# items()
dog = {'name':'규봉이', 'breed':'진돗개', 'color':'brown'}
dog.items()

dict_items([('name', '규봉이'), ('breed', '진돗개'), ('color', 'brown')])

In [16]:
# clear()
dog = {'name' : '규봉이', 'breed':'진돗개', 'color':'brwon'}
dog.clear()
dog

{}

In [18]:
#get()
dog = {'name' : '규봉이', 'breed':'진돗개', 'color':'brown'}
dog.get('name')

'규봉이'

In [19]:
# in 은 Key만 확인 가능하다.
dog = {'name' : '규봉이', 'breed':'진돗개', 'color':'brown'}
'name' in dog

True

In [20]:
#value 도 넣어보기
'규봉이' in dog

False

집합(set) 자료형

* 수학시간에 배운 집합과 같은 집합
* 어떤 값들의 모임일 뿐 순서는 없다(=순서가 달라져도 동일한 집합이다.)
* 중괄호{} 안에 value를 넣고, 콤마, 로 구분. 집합명 = (value1, value2, value3,...}
* set() 괄호 안에 리스트나 문자열을 입력해서 만들 수도 있다.
* 집합은 값을 포함하고 있느냐 아니냐만 중요해서, 중복은 허락하지 않으며 순서도 별 의미없다.

In [21]:
# 중괄호{} 안에 value를 넣고 콤마, 로 구분
# 중복은 허락되지 않는다.
asia = {'korea', 'china', 'japan', 'korea'}
asia

{'china', 'japan', 'korea'}

In [22]:
# set() 활용
# 빈 집합 만들기
a = set()
a

set()

In [23]:
# 빈 딕셔너리와 혼동을 주의
a = {}
type(a)

dict

In [24]:
# set() 활용
# 문자열 넣어보기
a = set('hello')
a

{'e', 'h', 'l', 'o'}

In [25]:
# set() 활용
# 리스트 넣어보기
a = set([1, 2, 3])
a

{1, 2, 3}

In [26]:
# set() 활용
# 튜플 넣어보기
a = set((11, 13, 15))
a

{11, 13, 15}

In [27]:
# set() 활용
# 딕셔너리 넣어보기
a = set({'name':'규봉이', 'breed':'진돗개', 'color':'brown'})
a

{'breed', 'color', 'name'}

In [28]:
a = {2, 4, 6, 8, 10, 12}
b = {3, 6, 9, 12, 15}

In [29]:
a|b

{2, 3, 4, 6, 8, 9, 10, 12, 15}

In [30]:
a.union(b)

{2, 3, 4, 6, 8, 9, 10, 12, 15}

In [31]:
a & b

{6, 12}

In [34]:
a.intersection(b)

{6, 12}

In [33]:
a-b

{2, 4, 8, 10}

In [35]:
a.difference(b)

{2, 4, 8, 10}

In [36]:
a^b

{2, 3, 4, 8, 9, 10, 15}

In [37]:
a.symmetric_difference(b)

{2, 3, 4, 8, 9, 10, 15}

집합 관련 함수

* add() : 원소 한 개 추가하기
* update() : 원소 여러 개 추가하기
* remove() : 특정 값 한 개 제거하기

In [39]:
# add()
a = {1, 2, 3}
a.add('넷')
a

{1, 2, 3, '넷'}

In [41]:
# update()
a = set([6, 5, 4])
a.update({1, 3, 2})
a

{1, 2, 3, 4, 5, 6}

In [44]:
# remove()
a = {1, 2, 3, 4, 5, 6}
a.remove(2)
a

{1, 3, 4, 5, 6}

# 불(bool) 자료형

* 불 자료형은 참(True)와 거짓(False) 두가지 상태를 표현하는 타입
* True, False의 첫 자가 대문자임을 유의
* true, false 소문자로 적으면 불 자료형이 아니다.
* 조건문의 반환 값으로도 사용

In [45]:
# type 확인
a = True
type(a)

bool

In [46]:
# 소문자로 적은 true 확인해보기
b = true
type(b)

NameError: ignored

In [47]:
# 5가 4보다 큰지 물어보는 조건문
5 > 4

True

In [48]:
# 자료형 불 타입 확인해보기
bool(0.0)

False

In [49]:
# 스스로 확인해보고 싶은 자료형 불 타입 확인해보기
bool()

False

In [50]:
# 변수명 = 변수에 저장할 값
aiffel = 'modu'

In [51]:
# 영문자(대, 소문자 구분), 숫자, 언더바(_)만 사용 가능
List_01 = [1, 3, 5]
list_01 = [2, 4, 6]

List_01

[1, 3, 5]

In [52]:
list_01

[2, 4, 6]

In [53]:
# 첫 자리에는 숫자를 사용할 수 없다.
00dic = {1:11, 2:22}
00dic

SyntaxError: ignored

In [54]:
True = set('aiffel')
True

SyntaxError: ignored

In [55]:
# 괄호가 없다면 튜플
# 튜플로 변수에 값을 할당할 수 있다.
a, b, c = 11, 22, 33
b

22

In [56]:
# 리스트로도 가능
[d, e] = ['Hello', 'world']
d

'Hello'

In [61]:
# 여러 개의 변수에 같은 값을 할당할 수 있다.
f = g = True

In [62]:
f

True

In [63]:
# 위의 방법을 사용해서 두 변수의 값을 간단히 바꿀 수 있다.
a = "Hello, python world"
b = 10
a, b = b, a

In [64]:
a,b

(10, 'Hello, python world')