for문 잘써보기 - enumerate()와 이중 for문

In [1]:
my_list = ['a', 'b', 'c', 'd']

for i in my_list:
    print('값 : ', i)

값 :  a
값 :  b
값 :  c
값 :  d

In [2]:
my_list = ['a', 'b', 'c', 'd']

for i, value in enumerate(my_list):
    print("순번 : ", i, '값 : ', value)

순번 :  0 값 :  a
순번 :  1 값 :  b
순번 :  2 값 :  c
순번 :  3 값 :  d

In [3]:
my_list = ['a', 'b', 'c', 'd']
result_list = []

for i in range(2):
    for j in my_list:
        result_list.append((i, j))

print(result_list)

[(0, 'a'), (0, 'b'), (0, 'c'), (0, 'd'), (1, 'a'), (1, 'b'), (1, 'c'), (1, 'd')]