In [ ]:
overlap = [[1, 2], 3, [[4, 5, 6], 7], 8, 9]

In [ ]:
for element in overlap:
    print(element)

[1, 2]
3
[[4, 5, 6], 7]
8
9

In [ ]:
a = [[1, 2], 3, [[4, 5, 6], 7], 8, 9]

def flatten(data):
    return output

In [ ]:
type(a[0])

list

In [4]:
def flatten(data):
    output = []             #빈 리스트 만들기
    for item in data:       #반복문
        if type(item) == list:
            output += flatten(item)
        else:               #리스트가 아닐 때
            output.append(item)
    return output

In [5]:
a = [[1, 2], 3, [[4, 5, 6], 7], 8, 9]

In [6]:
flatten(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]