연산자

* = 는 대입연산자 ==는 비교연산자
* ==는 좌변, 우변이 같으면 True, 다르면 False를 리턴

In [ ]:
8 == 9

False

In [ ]:
8 != 9

True

In [ ]:
8 =! 9

SyntaxError: ignored

논리연산자

* and 두 조건이 모두 참일 때 True를 리턴
* or 두 조건 중 하나라도 참일 때 True를 리턴
* not 조건을 반대로 뒤집음

In [2]:
#True and True 일 때
3 >= 1 and 3 >= 2

True

In [3]:
#False and True 일 때
3 >= 1 and 3 >= 4

False

In [4]:
#False or True 일 때
3 >= 1 or 3 >= 4

True

In [5]:
# not True -> False
not 3 > 1

False

In [6]:
# not False -> True
not 3 > 5

True

기타 연산자

리스트 확인하기

In [7]:
1 in [1, 3, 5, 7, 9]

True

In [8]:
1 not in [1, 3, 5, 7, 9]

False

In [9]:
# 튜플 확인해보기
'a' not in ('a', 'i', 'i', 'f', 'e', 'l')

False

In [10]:
# 문자열 확인해보기
'y' in 'python'

True

if 조건문

In [13]:
# 0이 아닌 숫자는 True
if 1:
    print('조건이 참이니까 출력')

조건이 참이니까 출력

In [14]:
# 0은 False
if 0:
    print('과연 이건 출력이 될 것인가')

In [15]:
num = 10
if num > 5:
    print('num는')
    print('5보다')
    print('큽니다.')

num는
5보다
큽니다.

In [18]:
# if 문 예시
a = 7
if a == 7:
    print('Lucky!')

Lucky!

In [19]:
a = 7
if a == 7:
    print("Lucky!")

Lucky!

In [21]:
score = 50
if score >= 65:
    print('합격')
else:
    print('불합격')

불합격

In [22]:
money = int(input('현재 돈이 얼마인지?'))
if money >= 16000:
    print('택시도 타고, 커피도 사먹는다.')
elif money >= 12000:
    print('커피는 포기하고 택시를 탄다.')
elif money >= 5300:
    print('아메리카노 사고 버스에 탄다.')
else:
    print('목이 마른건 참고 버스를 탄다.')

현재 돈이 얼마인지?20000
택시도 타고, 커피도 사먹는다.

In [23]:
x = 4
if x % 2 == 0:
    print('짝수입니다.')

짝수입니다.

In [24]:
6 % 4

2

In [25]:
x = 4
if x % 2 == 0: # x가 짝수인지 확인하는 조건
    print('짝수입니다')

짝수입니다

In [26]:
x = 5
if x % 2 == 0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

홀수입니다.

In [27]:
x = 5
if x % 2 == 0: #x가 짝수인지 확인하는 조건
    print('짝수입니다')
else: #짝수가 아닌 수를 확인하는 조건
    print('홀수입니다.')

홀수입니다.

In [28]:
x = 120
if x % 10 == 0:
    print('10의 배수입니다.')
elif x % 2 == 0 or x % 5 == 0:
    print('2 또는 5의 배수입니다')
else :
    print('2 와 5의 배수가 아닙니다.')

10의 배수입니다.

In [29]:
x = 7
if x % 10 == 0:
    print('10의 배수입니다')
elif x % 2 == 0 or x % 5 == 0:
    print('2 또는 5의 배수입니다.')
else:
    print('2와 5의 배수가 아닙니다.')

2와 5의 배수가 아닙니다.